

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



div.col-lg-2{
    border: 1px solid black;
    height: 30px;
    width: 30px;
    margin: 4px;
    display: inline-block;
    float: left;
}















